In [1]:
import pandas as pd
import numpy as np

In [2]:
suicide = pd.read_csv("../Dataset/who_suicide_statistics.csv")
suicide_spain = suicide.loc[suicide['country'] == "Spain"]
suicide_spain.drop(['country'], axis=1, inplace=True)

C:\Users\oosca\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [3]:
suicidios_spain_edades = suicide_spain.dropna()

In [4]:
suicidios_spain_edades.to_csv("../Dataset/suicidios_España_edades.csv")

In [5]:
suicidios_spain_edades

       year     sex          age  suicides_no  population
36612  1980  female  15-24 years         33.0   3045100.0
36613  1980  female  25-34 years         32.0   2456900.0
36614  1980  female  35-54 years        122.0   4509700.0
36615  1980  female   5-14 years          1.0   3206400.0
36616  1980  female  55-74 years        165.0   3414400.0
...     ...     ...          ...          ...         ...
37039  2015    male  25-34 years        241.0   2897590.0
37040  2015    male  35-54 years       1015.0   7551081.0
37041  2015    male   5-14 years          7.0   2475209.0
37042  2015    male  55-74 years        736.0   4750328.0
37043  2015    male    75+ years        573.0   1693221.0

[432 rows x 5 columns]

In [6]:
tabla_completa = pd.read_csv("../Dataset/final_table.csv")

In [7]:
tabla_completa_spain = tabla_completa.loc[tabla_completa['country'] == "Spain"]
tabla_completa_spain.drop(['Unnamed: 0', 'country', 'Assigned To Zone', 'Region'], axis=1, inplace=True)

C:\Users\oosca\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [8]:
tabla_completa_spain

,year,sex,age,suicides/100k pop,HDI for year,gdp_per_capita,generation
3588,1985,male,75+ years,44,0.725,5009,G.I. Generation
3589,1985,male,55-74 years,20,0.725,5009,G.I. Generation
3590,1985,female,75+ years,11,0.725,5009,G.I. Generation
3591,1985,male,35-54 years,11,0.725,5009,Silent
3592,1985,male,25-34 years,8,0.725,5009,Boomers
...,...,...,...,...,...,...,...
3703,2014,female,35-54 years,5,0.876,31171,Generation X
3704,2014,female,25-34 years,2,0.876,31171,Millenials
3705,2014,female,15-24 years,2,0.876,31171,Millenials
3706,2014,female,5-14 years,0,0.876,31171,Generation Z
3707,2014,male,5-14 years,0,0.876,31171,Generation Z

In [10]:
tabla_completa_spain.to_csv("../Dataset/Tabla completa España.csv")

In [11]:
suicidios_GDP = pd.read_csv("../Dataset/GDP Suicide rates.csv")

In [12]:
col_names_a = ['Country', 'ISO-code', 'GDP 2000 ($)', 'Rate 2000', 'GDP 2005 ($)', 'Rate 2005', 'GDP 2010 ($)', 'Rate 2010', 'GDP 2015 ($)',
       'Rate 2015', 'GDP 2016 ($)', 'Rate 2016']

suicidios_GDP.columns = col_names_a
suicidios_GDP.drop(['GDP 2016 ($)', 'Rate 2016'], axis=1, inplace=True)

In [13]:
suicidios_GDP.to_csv("../Dataset/Suicidios_GDP.csv")

In [14]:
fertility = pd.read_csv("../Dataset/fertility 2020.csv")
# Total fertility rate (TFR) of a population is the average number of children that would be born to a woman over her lifetime 

life = pd.read_csv("../Dataset/Life expectancy 2020.csv")

age = pd.read_csv("../Dataset/Median age 2020.csv")

# Median age is the age that divides a population into two numerically equally sized groups - that is, half the people are younger than this age and half are older. It is a single index that summarizes the age distribution of a population.

popgrowth = pd.read_csv("../Dataset/Population growth 2020.csv")

# shows the population growth rate and its projections over the world's countries.

suiciderate = pd.read_csv("../Dataset/Suicide rate 2020.csv")

# This lists of countries contains the suicide rate as per data published by the World Health Organization (WHO).

urban = pd.read_csv("../Dataset/Urbanization rate 2020.csv")

"""
refers to the population shift from rural to urban areas, 
the decrease in the proportion of people living in rural areas, 
and the ways in which societies adapt to this change. 
It is predominantly the process by which towns and 
cities are formed and become larger as more people begin living and working in central areas.
"""

'\nrefers to the population shift from rural to urban areas, \nthe decrease in the proportion of people living in rural areas, \nand the ways in which societies adapt to this change. \nIt is predominantly the process by which towns and \ncities are formed and become larger as more people begin living and working in central areas.\n'

In [15]:
col_names = ['Final', 'Fertility', 'ISO-code']

fertility.columns = col_names

In [16]:
m = fertility.merge(life, left_on="ISO-code", right_on="ISO-code")
m1 = m.merge(age, left_on="ISO-code", right_on="ISO-code")
m2 = m1.merge(popgrowth, left_on="ISO-code", right_on="ISO-code")
m3 = m2.merge(suiciderate, left_on="ISO-code", right_on="ISO-code")
m4 = m3.merge(urban, left_on="ISO-code", right_on="ISO-code")

In [17]:
big_table = m4.drop(["Country_y", "Country_x", "Country_y", "Country"], axis=1)
big_table = big_table[big_table['ISO-code'] != "GIN"]

In [18]:
big_table.drop(index=189, inplace=True)

In [23]:
col_names_a = ['Country', "Fertility", "ISO-code", "Life expectancy", 'Median age', 'Population gowth', 'Suicide rate', 'Urbanization rate']

big_table.columns = col_names_a

In [1]:
big_table.head()

NameError: name 'big_table' is not defined

In [26]:
big_table = big_table[['Country', 'ISO-code', 'Suicide rate', "Life expectancy", 'Fertility', 'Median age', 'Population gowth', 'Urbanization rate']]

In [29]:
big_table.to_csv("../Dataset/table_countries.csv")